<div class="slider-container">
  <div class="content-container">
    <h1 class="title">DefCOL</h1>
    <p class="description">La deforestación está destruyendo nuestro planeta.</p>
    <div class="button-container">
      <button class="btn btn-primary btn-lg mx-2" routerLink="../login">Iniciar sesión</button>
      <button class="btn btn-secondary btn-lg mx-2" routerLink="../register">Registrarse</button>
    </div>
  </div>
  <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
    <swiper-slide class="swiper-slide">
      <img src="https://cdn.pixabay.com/photo/2022/09/02/13/35/mountains-7427623_960_720.jpg" alt="Slide 1">
    </swiper-slide>
    <swiper-slide class="swiper-slide">
      <img src="https://cdn.pixabay.com/photo/2020/10/02/13/38/sea-5621150_1280.jpg" alt="Slide 2">
    </swiper-slide>
    <swiper-slide class="swiper-slide">
      <img src="https://cdn.pixabay.com/photo/2018/03/02/21/49/waves-3194377_1280.jpg" alt="Slide 3">
    </swiper-slide>
  </swiper-container>
</div>
