<div class="login-container login-background ">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-5">
          <div>
            <h1 class="display-3 fw-bold text-dark">DEFCOL</h1>
            <h2 class="lead ">Defcol te informa todo sobre la deforestacion en Cundinamarca y Boyacá. </h2>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <div class="card shadow">
              <div class="card-body">
                <form [formGroup]="loginForm" class="container login-form p-2" (submit)="login($event)">
                  <div class="mb-3">
                    <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" placeholder="Correo electrónico">
                  </div>
                  <div class="mb-3">
                    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="clave" placeholder="Contraseña">
                  </div>
                  <div class="mb-4 d-grid">
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                  </div>
                  <div class="mb-2 d-flex justify-content-center border-top pt-4">
                    <button type="submit" class="btn btn-outline-success">Crear cuenta nueva</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>