<app-header></app-header>
<app-navbar></app-navbar>
<div class="content-container">
  <p class="description">Bienvenido a</p>
  <h1 class="title">DefCOL</h1>
</div>
<swiper-container class="mySwiper" pagination="true" navigation="true">
  <swiper-slide>
    <img src="https://cdn.pixabay.com/photo/2022/09/02/13/35/mountains-7427623_960_720.jpg" class="swiper-slide-img" alt="...">
  </swiper-slide>
  <swiper-slide>
    <img src="https://cdn.pixabay.com/photo/2020/10/02/13/38/sea-5621150_1280.jpg" class="swiper-slide-img" alt="...">
  </swiper-slide>
  <swiper-slide>
    <img src="https://cdn.pixabay.com/photo/2018/03/02/21/49/waves-3194377_1280.jpg" class="swiper-slide-img" alt="...">
  </swiper-slide>
</swiper-container>
