<nav class="navbar navbar-expand-lg login-background shadow">
  <div class="container fw-bold">
    <a *ngIf="userLoginOn" class="navbar-brand" routerLink="../home">DefCOL</a>
    <a *ngIf="!userLoginOn" class="navbar-brand" routerLink="../inicio">DefCOL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="isAdmin" class="nav-item">
          <a class="nav-link" [ngClass]="{active: menuOption=='dashboard'}" (click)="onOption('dashboard')" routerLink="../dashboard">Dashboard</a>
        </li>
        <li *ngIf="userLoginOn" class="nav-item">
          <a class="nav-link" [ngClass]="{active: menuOption=='home'}" (click)="onOption('home')" routerLink="../home">Home</a>
        </li>
        <li *ngIf="!userLoginOn" class="nav-item">
          <a class="nav-link" [ngClass]="{active: menuOption=='home'}" (click)="onOption('inicio')" routerLink="../inicio">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{active: menuOption=='articles'}" (click)="onOption('articles')" routerLink="../articles">Artículos</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions">
          <a class="nav-link pointer">Opciones</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Información de usuario</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link" aria-current="page">Usuario: <a class="fs-5 text-warning text-decoration-none">{{ user.nameUser }}</a></a>
      </li>
      <li *ngIf="!isAdmin && userLoginOn" class="nav-item">
        <a class="nav-link" routerLink="/my_account"> Mi Cuenta</a>
      </li>
      <li *ngIf="!userLoginOn" class="nav-item">
        <a class="nav-link" routerLink="/iniciar-sesion"> Iniciar Sesión</a>
      </li>
      <li *ngIf="userLoginOn" class="nav-item">
        <a class="nav-link" (click)="logout()" routerLink="/inicio"> Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</div>
