.login-container {
  /*background-color: #f0f2f5;*/
  border-radius: 5px;
  /*width: 100vw;*/
  /* Ancho del viewport: area visible en el navegadoR*/
  height: 80vh;
  /* Altura del viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-background {
  --bs-body-bg-rgb: 240, 242, 245;
  --bd-accent-rgb: 255, 193, 7;
  --bd-violet-rgb: 108, 117, 125;
  --bd-pink-rgb: 214, 51, 132;
  background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%)
}


.login-form .form-control{
  background-color: #ffffff;
  font-size: 18px;
}

.login-form .btn{
  font-size: 18px;
}
