<app-header></app-header>
<app-navbar></app-navbar>
<div >
  <div class="card">
    <div class="card-header">
      Datos Personales de Administrador
    </div>
    <div class="card-body m-0">
      <app-personal-details></app-personal-details>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Usuarios Registrados
    </div>
    <div class="card-body m-0">
      <app-users-registered></app-users-registered>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Publicar Artículo
    </div>
    <div class="card-body m-0">
      <app-publish-article></app-publish-article>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Artículos publicados
    </div>
    <div class="card-body m-0">
      <app-article-published></app-article-published>
    </div>
  </div>
</div>

